* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-input-placeholder {
  color: #c53e3e;
  opacity: 10%;
}


.modal-body {
  height: auto;       /* allow to fit content (if smaller)... */
  max-height: 100%;   /* ... but make sure it does not overflow browser window */
  overflow-x: hidden;
  overflow-y: auto;
}


input::placeholder {
  color:#c53e3e;
}


.app {
  background-color: #f8f5f5;
}


.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.app_headerLogo {
  margin-left: 20px;
  object-fit: contain;
  width: 220px;
}


.app_headerRightMenu {
  margin-right: 20px;
  display: inline-block;
  justify-content: space-between 20px;
}


.app_headerRightMenuLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.app_headerRightMenuUsername {
 margin-left: 10px;
}


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}


.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}


.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}


label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}


.app_post_creation {
  padding: 20px;
}


.followingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100vw;
  /* wheight: 100vh; */
}


.followingContainer {
  width: 600px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}


.followingButton {
  border-radius: 8px;
  padding: 7px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  transition-duration: 0.15s;
  width: 180px;
}

.followingButton:hover {
    background-color: rgb(8, 8, 8);
    color: white;
}


.postCreateButton {
  position: relative;
  left: 50%;
  margin: -70px 0 0 -70px;
  border-radius: 8px;
  padding: 7px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  transition-duration: 0.15s;
  width: 140px;
}


.postCreateButton:hover {
  background-color: rgb(8, 8, 8);
  color: white;
}


.profile-container-none {
  padding: 20px;
}


.followingNoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.followingNoneContent {
  width: 600px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}


.followingNoneContentText {
  margin-left: 25px;
  display: flex;
  align-items: initial;
}