.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}



/* input[type="file"] {
    display: none;
} */


.inputfile-upload {
    border: 1px solid rgb(182, 182, 182);
    background-color: rgb(142, 196, 142);
    border-radius: 6px;
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    opacity: 50%;
}


.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.post_title {
    font-weight: normal;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}


.post_rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}


.post_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}


.post_ratingText {
    margin-left: 15px;
}


.post_ratingRating {
    margin-right: 15px;
}


.post_header {
    display: flex;
    align-items: center;
    padding: 20px;
}


.post_headerInfo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}


.post_captionButton {
    display: flex;
    align-items: center;
}


.post_caption_rating {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}


.new-button {
    outline: none;
}



.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
  
  
.profile-config {
    width: 600px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}
  
  
.profile-content {
    padding-left: 12%;
    padding-right: 12%;
}
  

.profileInfo {
    margin-left: 25px;
    display: flex;
    align-items: initial;
}


.post_deleteButton {
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid rgb(207, 84, 84);
    transition-duration: 0.15s;
    width: 85px;
}


.post_deleteButton:hover {
    background-color: rgb(207, 84, 84);
    color: white;
}


.post_updateProfile {
    border-radius: 8px;
    padding: 7px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 1px solid rgb(27, 31, 88);
    transition-duration: 0.15s;
    width: 160px;
}


.post_updateProfile:hover {
    background-color: rgb(27, 31, 88);
    color: white;
}


.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  
.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}
  
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }


  .text-color-and-size {
    font-size: 12px;
    color: rgb(100, 99, 99);
  }